<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaStreamer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="previewStream1FilePath" value="c:\temp\off_small.mp4" />
    <add key="previewStream2FilePath" value="c:\temp\bj_1_wide.mp4" />
    <add key="previewStream3FilePath" value="c:\temp\bj_2.mp4" />
    <add key="previewStream4FilePath" value="c:\temp\bj_3.mp4" />
    <add key="previewStream5FilePath" value="c:\temp\bj_4.mp4" />
  </appSettings>
  <applicationSettings>
    <MediaStreamer.UI.Properties.Settings>
      <setting name="CameraIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VideoRateFps" serializeAs="String">
        <value>45</value>
      </setting>
    </MediaStreamer.UI.Properties.Settings>
  </applicationSettings>
</configuration>
